# Игнорируем виртуальное окружение (оно у каждого разработчика свое)
venv/
env/

# Игнорируем кэш питона (те самые папки, которые мы видели в твоем дереве)
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем скрытые системные файлы Windows и Mac (чтобы не мусорить)
.DS_Store
Thumbs.db
desktop.ini

# Игнорируем файлы настроек редакторов кода (VS Code, PyCharm)
.vscode/
.idea/